{{define "subject"}}Welcome to Greenmemes!{{end}}

{{define "plainbody"}}

Welcome to Greenmemes,

Thanks for signing up for an account. We're exicted to have you on board!

For future memes, your user id number is {{.ID}}.

Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON body
to activate your account:

{"token": "{{.ActivationToken}}"}

Btw this is on plainTextBody
Please note that this token is one-time only and it will expire in 3 days.

Sincerly,
The Greenmemes Team
{{end}}

{{define "htmlBody"}}
	<!doctype html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<title>Welcome to Greenmemes!</title>
		</head>
		<body>
			<p>Welcome to Greenmemes!<p>
			<p>Thanks for signing up for an account. We're exicted to have you on board!</p>
			<p>For future memes, your user id number is {{.ID}}.</p>
			<p>Please send a request to the <code>PUT /v1/users/activated</code> endpoint with the following JSON body
			to activate your account:</p>
			<pre>
				<code> 
					{"token" :"{{.ActivationToken}}"}
				</code>
			</pre>
			<p> Please note that this token is one-time use only and it will expire in 3 days</p>
			<p>Sincerly,<br>The Greenmemes Team</p>
		</body>
	</html>
{{end}}

